.test {
    width: 50px;
    height: 50px;
    background: orange;
    /* position: fixed; */
    /* right: 300px; */
    /* left: 100px; */
    bottom: 100px;
    top: 100px;
    /* position: relative; */
}
input[type="checkbox"] {
    position: relative;
    /* top: 4px; */
}
.rect {
    width: 150px;
    height: 150px;
    margin: 50px;
    border: 1px solid black;
    position: relative;
}
.sq {
    width: 50px;
    height: 50px;
    background-color: rgb(28, 66, 35);  
}
.p1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.p2 {
    background: darkgoldenrod;
    position: absolute;
    top: 70px;
    right: 70px;
    z-index: 2;
}

  