span {
    display: block;
    background: #778dc9;
    height: 45px;
    width: 300px;
    margin: 10px;
    padding: 10px;
}
.inline-block-purple {
    display: inline-block;
    background: #cc8fc5;
    padding: 10px;
    margin: 15px;
}
.block-lightgreen {
    background: #c5cc8f;
    width: 820px;
    height: 40px;
    padding: 20px;
    margin: 15px;
}
.block-lightblue {
    background: #7b7bd4;
    height: 40px;
    padding: 20px;
    margin: 15px;
}